/* Allgemeine Seiteinstellungen */
body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f4f9;
  color: #333;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2em;
  color: #333;
  margin-top: 20px;
}

/* Gameboard-Styling */
#gameboard {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 10px;
  margin: 20px 0;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  font-weight: bold;
  background-color: #fff;
  border: 2px solid #333;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.square:hover {
  background-color: #f0f8ff;
  transform: scale(1.05);
}

/* Steuerungselemente */
#controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#controls input[type="text"] {
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 200px;
}

#controls button {
  padding: 10px 20px;
  font-size: 1em;
  font-weight: bold;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#controls button:hover {
  background-color: #555;
}

/* Nachrichten und Ergebnisanzeige */
#message, #result-display {
  font-size: 2em;
  font-weight:bold;
  margin-top: 10px;
  color: purple;
  text-align: center;
}
